In [1]:
# before lemmatize with mystem via cmd
import pandas as pd
import re
from nltk.corpus import stopwords
stops = stopwords.words("russian")
stops.extend(['что', 'это', 'так', 'вот', 'быть', 'как', 'в', 'к', 'на'])

plots = open('film_plots_lem.txt', encoding='utf-8').read()
plots = ' '.join([word for word in re.findall("[\w&]+", plots.lower()) if word not in stops]).split('&&&')

lens = list(map(len, plots))
titles = open('wiki_titles.txt', encoding='utf-8').read().split('\n')
df = pd.DataFrame({'film':titles, 'plot':plots, 'length':lens})
df = df[df.length < 5000]
df = df[df.length > 100]
df.to_csv('data.csv', sep=';', index=False)
df.head()

,film,plot,length
0,? (фильм),индон tanda tanya индонезийский художественный...,3886
1,0-41*,0 41 индийский документальный драматический ф...,304
2,1 (документальный фильм),1 также известный 1 жизнь лимит англ 1 life o...,2333
3,1 % (фильм),1 австралийский криминальный фильм режиссер с...,998
4,1 миля до тебя,1 миля американский мелодраматический фильм р...,951